@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=PT+Sans&family=Philosopher&family=Poppins:wght@200;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
    overflow: hidden;
}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .box
{
    transform-style: preserve-3d;
}
