*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.diamond-container{
    position: relative;
}

.diamond{
    position: relative;
    left: -100px;
    top: -50px;
}

.diamond-top{
    position: relative;
}

.diamond-top:before, .diamond-top:after{
    content:"";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    top: 0;
}

.diamond-top:before{
    border-color: transparent transparent #b4e3e6 transparent;
    border-width: 0 25px 30px 25px;
    filter: drop-shadow(50px 0 #94d7d9) drop-shadow(50px 0 #b4e3e6);
}

.diamond-top::after{
    border-color: #d8f8f9 transparent transparent transparent;
    border-width: 30px 25px 0 25px;
    left: 25px;
    filter:drop-shadow(50px 0 #d8f8f9);
}