body{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #f1faee;
    height: 100vh;
}

.snowball{
    position: relative;
    top: -280px;
    left: -200px;
}

.ball{
    position: absolute;
    width: 300px;
    height: 300px;
    border: 8px solid #003049;
    background-color: #bde0fe;
    box-shadow: inset 10px 10px 0 white;
    border-radius: 50%;
    overflow: hidden;
}

.holder{
    position: absolute;
    width: 250px;
    height: 55px;
    background-color: #2a9d8f;
    border: 8px solid #003049;
    border-radius: 20px 20px 0 0;
    top: 308px;
    left: 25px;
}

.holder:before{
    content: "";
    position: absolute;
    width: 500px;
    height: 8px;
    background-color: #003049;
    top: 55px;
    left: -130px;
}