* {
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

body{
    overflow: hidden;
    display: flex;
    background: #070716;
    perspective: 1000px;
    transform-style: preserve-3d;
}