body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff758f;
}

.valentines-day-card{
    position: relative;
    width: 400px;
    height: 300px;
    background-color: #ff8fa3;
    overflow: hidden;
    border: 10px solid white;
    border-radius: 10px;
    box-shadow: 0 0 100px rgba(0,0,0,.4);
}