* {
    margin: 0;
    padding: 0;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
}
ul
{
    position: relative;
    display: flex;
    transform-style: preserve-3d;
    transform: rotate(-25deg) skew(25deg);
}
ul li
{
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    margin: 0 10px;
}