:root{
    --color-bg: radial-gradient(circle farthest-corner at 50.4% 50.5%, rgba(57,181,51,1) 0%, rgba(35,91,31,1) 90%);
    --color-tree-back: linear-gradient( to left, rgb(1, 59, 1), rgba(175, 0), rgb(1, 59, 1));
    --color-tree-front: linear-gradient(to left, rgb(0, 175, 0), rgb(24,24,23), rgb(0,175,0));
    --color-star-dark: rgb(255,166,0);
    --color-star-light: linear-gradient(109.6deg, rgba(255,219,47,1) 11.2%, rgba(244,253,0,1) 100.2%);
}

*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: var(--color-bg);
    overflow: hidden;
    background-size: 200% 200%;
    animation: bg-animation 6s ease infinite;
}