body{
    background-color: #F5B7B1;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.container{
    position: relative;
}

.ball{
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    box-shadow: inset -5px -5px 5px rgba(0,0,0,0.07);
    animation: bounceball alternate infinite 400ms 40ms ease-in-out;
}

.iris{
    position: absolute;
    width: 40%;
    height: 40%;
    background-color: #229954;
    border-radius: 50%;
    left:30%;
    top:30%;
    transform: translateX(0px) translateY(0px) skewX(0deg) skewY(2deg);
}

.iris:before{
    content: "";
    position: absolute;
    width:35%;
    height: 35%;
    border-radius: 50%;
    background-color: black;
    top:30%;
    left:30%;
}

.iris:after{
    content:"";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgba(255,255,255,0.43);
    border-radius: 50%;
    left:20%;
    top:22%;
}

.shadow{
    position: absolute;
    width: 90px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.07);
    top: 190px;
    left: 10px;
    animation: bounceball alternate infinite 400ms 40ms ease-in-out;
}

@keyframes bounceball {
    to{transform: scaleX(1.03) scaleY(0.97);}
}