body{
    background-color: #F5B7B1;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.container{
    position: relative;
}

.ball{
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    box-shadow: inset -5px -5px 5px rgba(0,0,0,0.07);
    animation: bounceball alternate infinite 400ms 40ms ease-in-out;
}

