* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: #fafafa;
    --violet: #e2d8fd;
    --dark-blue: #16044a;
    --gray1: #e1e1e1;
    --gray2: #6a6a6a;
}

html,
body,
.main-container{
    height: 100%;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    background: var(--violet);
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* Main content */

.main-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Card */

.scene{
    width: 90%;
    max-width: 35rem;
    height: 20rem;
    margin: 0 auto;
    perspective: 600px;
}